a{
    text-decoration: none;
}
 .head{
    width: 100%;
    border-bottom: 2px solid darkcyan ;
    padding: 6px;
    background-color: brown;
 }
 .right{
    float: right;
 }
 .f{
   background-color: fuchsia;
   padding: 10px;
 }
 .m{
   background-color: fuchsia;
   padding: 10px;
 }
 .h{
    width: 100%;
    border-bottom: 2px solid darkcyan ;
    padding: 10px;
    background-color: brown;
 }